{%  extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{%  endblock %}

{% block scripts %}
    {{ super() }}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}

{% block title %}
    {{ gettext('About') }}
{%  endblock %}

{%  block content %}
    <div class="container">
        <p class="lead">
            <strong>{{ _('Project title') }}</strong> {{ _("Project description") }}.
        </p>
        <p class="lead">
            {{ _("contact_me_paragraph_1") }} <a href="mailto:#">{{ author.email }}</a>.
            {{ _("contact_me_paragraph_2") }}
        </p>
        <p class="lead">
            {{ _("reference_statement") }}.
        </p>
        <span class="lead">
            <strong>{{ _('FAQ') }}</strong>
        </span>
        <p class="mural-quote">
            <span class="question">
                {{ gettext('What is a mural?') }}
            </span><br>
            {{ gettext('mural_definition') }} &#8212; <a href="{{ gettext('mural_definition_link') }}">{{ gettext('Wikipedia') }}</a>.
        </p>
        <p class="inline">
            <span class="question">
                {{ _("I would like to contribute") }}.
            </span><br>
            {{ _("Contribution string") }}
            {{ author.acknowledgment }}
            <a href="https://github.com/grishasergei/kyivmural" class="btn btn-default btn-xs" role="button"><strong>Kyivmural on GitHub</strong></a>.
            {{ _("I am looking forward to hearing from you") }} <a href="mailto:#">{{ author.email }}</a>
        </p>
    </div>
{% endblock %}